<form (ngSubmit)="onSubmit()" #contactForm="ngForm">
  <div class="form-ctrl">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required ngModel />
  </div>
  <div class="form-ctrl">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required ngModel />
  </div>
  <div class="form-ctrl">
    <label for="message">Message</label>
    <textarea name="message" id="message" cols="30" rows="10" required ngModel></textarea>
  </div>

  <div class="form-ctrl">
    <button type="submit" [disabled]="contactForm.invalid">Send!</button>
  </div>
</form>
