@use "../../variables" as *;
@use "../../../node_modules/bootstrap/scss/mixins" as *;

.section-container {
  //each section can be as tall as the screen, but never more than 1000px
  // height: 100vh;
  // max-height: 1000px;

  display: flex;
  align-items: center;

  @include media-breakpoint-up($grid-desktop-min-size, $grid-breakpoints) {
    //each section can be as tall as the screen, but never more than 1000px
    height: 100vh;
    max-height: 1000px;
  }
}

.section-title {
  margin: 0 $spacing $spacing $spacing;
  font-weight: $font-weight-thin;

  @include media-breakpoint-up($grid-desktop-min-size, $grid-breakpoints) {
    position: sticky;
    top: $header-height;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

#intro-animation {
  --size: 150vw;

  width: var(--size);
  height: var(--size);
  background-image: linear-gradient($color-bg 50%, rgba($color-highlight, .4));
  animation: rotate 20s linear infinite;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc((var(--size) / 2) * -1) 0 0 calc(var(--size) / 2 * -1);
  z-index: -1;
}

#intro {
  overflow: hidden;
  position: relative;

  .section-container {
    padding: $spacing;
    flex-direction: column;
  }

  img {
    border-radius: 100%;
    border: 2px solid $color-highlight;
    max-width: 50%;
  }

  #greeting-desktop {
    display: none;
  }

  @include media-breakpoint-up($grid-desktop-min-size, $grid-breakpoints) {
    .section-container {
      flex-direction: row;
      width: calc(breakpoint-min($grid-desktop-min-size, $grid-breakpoints) - ($spacing * 2));
      margin: 0 auto;
    }

    #greeting-mobile {
      display: none;
    }

    #greeting-desktop {
      display: block;
    }

    img {
      max-width: 300px;
      margin-right: $spacing;
    }
  }
}

#skills {
  background: url("../../../src/assets/img/skills-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: $spacing 0;

  #skills-icons-container {
    text-align: center;

    //size/position
    margin: 0 auto;

    //background/shape
    background: rgba(#fff, 0.5);
    backdrop-filter: blur(10px);
    border-radius: $radius;

    //grid
    display: grid;
    gap: $spacing;
    padding: $spacing;
    grid-template-columns: 1fr 1fr 1fr;

    @include media-breakpoint-up(sm, $grid-breakpoints) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include media-breakpoint-up($grid-desktop-min-size, $grid-breakpoints) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: $spacing-lg;
      padding: $spacing-lg;
    }

    @include media-breakpoint-up(lg, $grid-breakpoints) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  footer {
    text-align: right;
    padding: 0 $spacing-sm;
    font-size: $font-size-sm;
    transform: translateY(100%); //push it below the image BG
    opacity: 0.5;
    transition: 0.4s opacity;

    &:hover {
      opacity: 1;
    }
  }
}

#contact {
  svg {
    fill: $color-text;
  }
}
