@use "variables" as *;

.btn {
  display: inline-block;
  text-decoration: none;
  padding: $btn-padding;
  color: $btn-color;
  background-color: $btn-bg;
  border: $btn-border-width solid $btn-border-color;
  border-radius: $btn-border-radius;

  transition: all $anim-duration;

  &[disabled] {
    color: $btn-disabled-color;
    background-color: $btn-disabled-bg;
    border-color: $btn-disabled-border-color;
    cursor: not-allowed;
  }

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    text-decoration: none;
    border-color: $btn-hover-border-color;
    background-color: $btn-hover-bg-color;
    color: $btn-hover-color;
    cursor: pointer;
  }
}

.btn-link {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: inherit;
  text-shadow: inherit;
  cursor: pointer;
}
