@use "variables" as *;

.card {
  margin: $spacer-lg $spacer;
  border-radius: $radius;
  border: 1px solid $color-content-light;
  background-color: $color-content-dark;
  position: relative; //keeps cards above the BG noise/grain texture
  box-shadow: shadow(md);

  hr {
    border-color: $color-content-light;
    border-width: 0 0 1px 0;
    border-style: solid;
    margin: $spacer-lg 0;
  }

  &-title {
    padding: $spacer;

    border-top: 1px solid transparent;
    border-bottom: 1px solid $color-content-light;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;

    h2 {
      font-weight: $font-weight-light;
      font-size: $font-size-md;
      margin: 0;

      a {
        display: block;
      }
    }

    &.is-stuck {
      border-top-color: $color-content-light;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: shadow(md);
    }

    @include breakpoint($grid-desktop-min-size) {
      //display
      display: flex;
      align-items: center;

      &:not(.no-sticky) {
        //position
        position: sticky;
        top: $header-height;
        z-index: 10;
      }

      //style
      background: rgba($color-content-dark, $transparency);
      backdrop-filter: blur($header-blur-bg-desktop);

      h2 {
        font-size: $font-size-lg;
      }
    }

    + .card-content {
      border-top-width: 0;
    }
  }

  &-content {
    padding: $spacer;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 100%;
  }

  a {
    svg {
      fill: currentColor;
      vertical-align: bottom;
      width: 24px;
      height: 24px;
    }
  }
}
