@use "../../node_modules/bootstrap/scss/mixins" as *;
@use "variables" as *;

$color-portfolio-section-bg: darken($color-bg, 5%);

.portfolio-section {
  margin: $spacing-lg auto;


  max-width: calc(breakpoint-min(lg, $grid-breakpoints));

  &.portfolio-section-has-thumbs {
    max-width: 100%;

    .portfolio-section-content {
      @include media-breakpoint-up(xl, $grid-breakpoints) {
        display: flex;
        gap: $spacing;
      }
    }
  }

  &-title {
    margin: 0;
    padding: $spacing;
    font-weight: $font-weight-light;
    font-size: $font-size-lg;

    @include media-breakpoint-up($grid-desktop-min-size, $grid-breakpoints) {
      position: sticky;
      top: $header-height;
      background: $header-color-bg-desktop;
      backdrop-filter: blur($header-blur-bg-desktop);
      z-index: 10;
    }

    + .portfolio-section-content {
      margin-top: $spacing;
    }
  }

  &-content {
    padding: $spacing;
    background-color: $color-portfolio-section-bg;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xl, $grid-breakpoints) {
      &-description {
        flex-basis: 40%;
      }
      &-thumbs {
        flex-basis: 60%;
      }
    }
  }

  img {
    max-width: 100%;
  }

  a {
    svg {
      fill: currentColor;
      vertical-align: bottom;
      width: 24px;
      height: 24px;
    }
  }
}
