@use "../../node_modules/bootstrap/scss/mixins" as *;
@use "variables" as *;

.row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $spacer;

  @include breakpoint(md) {
    //Screens wider than most mobile
    grid-template-columns: repeat(2, 1fr);
  }

  &.row-lg {
    grid-template-columns: repeat(1, 1fr);
    @include breakpoint(lg) {
      //Screens wider than most mobile
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &.row-xl {
    grid-template-columns: repeat(1, 1fr);
    @include breakpoint(xl) {
      //Screens wider than most mobile
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &.row-xxl {
    grid-template-columns: repeat(1, 1fr);
    @include breakpoint(xxl) {
      //Screens wider than most mobile
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.container {
  margin: 0 auto;

  &.container-lg {
    max-width: breakpoint-size(lg);
  }
}


//-----------------------------------------
//Helper Classes

// Create the various padding/margin spacer classes
$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$props: (
  m: margin,
  p: padding,
);

@each $propKey, $propVal in $props {
  .#{$propKey} {
    @each $dirKey, $dirVal in $directions {
      &#{$dirKey} {
        @each $spacerSize, $spacerVal in $spacers {
          &-#{$spacerSize} {
            #{$propVal}-#{$dirVal}: $spacerVal;
          }
        }
      }
    }
  }
}
