@use "../../node_modules/bootstrap/scss/mixins" as *;

//==================================
//GRID
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$grid-desktop-min-size: md;

//==================================
// COLORS
$color-bg: #424153;
$color-text: #fff;
$color-highlight: #ff6853;
$color-highlight-transparent: rgba($color-highlight, 0.25);
$color-highlight-light: lighten($color-highlight, 20%);
$color-content-dark: darken($color-bg, 3%);
$color-content-light: lighten($color-bg, 5%);
$color-success: darken(adjust-hue($color-highlight, 120deg), 20%);
$color-error: darken(adjust-hue($color-highlight, -10deg), 7%);

//==================================
// SPECIAL PROPERTY COLORS
$selection-color-bg: $color-highlight;
$selection-color-text: $color-text;
$scrollbar-width: 8px;
$scrollbar-color-track: darken($color-bg, 5%);
$scrollbar-color-thumb: $color-highlight;

//==================================
// FONTS
//https://fonts.google.com/specimen/Roboto+Flex?query=roboto
$font-family: "Roboto Flex", sans-serif;
$font-size-xs: 0.75rem;
$font-size-sm: 0.9rem;
$font-size-md: 1.75rem;
$font-size-lg: 2.5rem;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-medium: 500;

//==================================
// SPACING
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
);

$spacer-xs: map-get($spacers, 1);
$spacer-sm: map-get($spacers, 2);
$spacer-lg: map-get($spacers, 4);

//==================================
// MISC
$transparency: 0.85;
$focus-shadow: 0 0 5px rgba($color-highlight-light, 0.3);
$radius: 0.5rem;
$radius-sm: calc($radius / 2);
$anim-duration: 300ms;
$anim-duration-fast: calc($anim-duration / 2);
$backdrop-blur: 10px;
$ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);

//==================================
//HEADER/NAV
$header-height: 102px;
$header-padding: $spacer;
$header-color-bg-default: $color-bg;
$header-color-bg-desktop: rgba($header-color-bg-default, $transparency);
$header-blur-bg-desktop: $backdrop-blur;
$header-z-index: 100;
$header-title-font-size: 70px;
$header-title-font-weight: $font-weight-thin;
$nav-margin-default: $spacer 0 0 0;
$nav-margin-desktop: 0 0 0 $spacer-lg;
$nav-link-font-size-default: 17px;
$nav-link-font-size-desktop: 20px;
$nav-link-font-weight: $font-weight-medium;
$nav-link-padding: $spacer-sm;
$nav-link-hover-color: $color-text;
$nav-link-active-bg: $color-highlight-transparent;
$nav-link-active-radius: $radius-sm;
$nav-link-active-color: $color-text;

//==================================
//BUTTONS
$btn-padding: $spacer-sm;
$btn-color: $color-highlight;
$btn-bg: transparent;
$btn-border-color: $color-highlight;
$btn-border-width: 1px;
$btn-border-radius: $radius-sm;
$btn-hover-border-color: $color-highlight-light;
$btn-hover-bg-color: $color-highlight-transparent;
$btn-hover-color: $color-text;
$btn-disabled-color: lighten($color-content-light, 30%);
$btn-disabled-border-color: $color-content-light;
$btn-disabled-bg: rgba($color-content-light, .25);

//==================================
//MAIN
$main-font-size: 1.2rem;

//==================================
//MIXINS & functions

//rename bootstrap functions/mixins so we don't have to pass around so many variables
@function breakpoint-size($size) {
  @return breakpoint-min($size, $grid-breakpoints);
}

@mixin breakpoint($size) {
  @include media-breakpoint-up($size, $grid-breakpoints) {
    @content;
  }
}

@mixin drop-shadow($size: "") {
  //shadows from https://tailwindcss.com/docs/drop-shadow#adding-a-drop-shadow
  @if ($size == "sm") {
    filter: drop-shadow(shadow($size));
  }
  @if ($size == "") {
    //default size
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  }
  @if ($size == "md") {
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  }
  @if ($size == "lg") {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  }
  @if ($size == "xl") {
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  }
  @if ($size == "2xl") {
    filter: drop-shadow(shadow($size));
  }
  @if ($size == "none") {
    filter: drop-shadow(shadow($size));
  }
}

@function shadow($size: "") {
  //shadows from https://tailwindcss.com/docs/drop-shadow#adding-a-drop-shadow
  @if ($size == "sm") {
    @return 0 1px 1px rgb(0 0 0 / 0.05);
  }
  @if ($size == "") {
    //default size
    @return 0 1px 2px rgb(0 0 0 / 0.1), 0 1px 1px rgb(0 0 0 / 0.06);
  }
  @if ($size == "md") {
    @return 0 4px 3px rgb(0 0 0 / 0.07), 0 2px 2px rgb(0 0 0 / 0.06);
  }
  @if ($size == "lg") {
    @return 0 10px 8px rgb(0 0 0 / 0.04), 0 4px 3px rgb(0 0 0 / 0.1);
  }
  @if ($size == "xl") {
    @return 0 20px 13px rgb(0 0 0 / 0.03), 0 8px 5px rgb(0 0 0 / 0.08);
  }
  @if ($size == "2xl") {
    @return 0 25px 25px rgb(0 0 0 / 0.15);
  }
  @if ($size == "none") {
    @return 0 0 #0000;
  }
}
