@use "../../node_modules/bootstrap/scss/mixins" as *;

//==================================
//GRID
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$grid-desktop-min-size: md;

//==================================
// COLORS
$color-bg: #424153;
$color-text: #fff;
$color-highlight: #a76253;
$color-highlight-light: lighten($color-highlight, 20%);

//==================================
// SPECIAL PROPERTY COLORS
$selection-color-bg: $color-highlight;
$selection-color-text: $color-text;
$scrollbar-width: 8px;
$scrollbar-color-track: darken($color-bg, 5%);
$scrollbar-color-thumb: $color-highlight;

//==================================
// FONTS
//https://fonts.google.com/specimen/Roboto+Flex?query=roboto
$font-family: "Roboto Flex", sans-serif;
$font-size-xs: 0.75rem;
$font-size-sm: 0.9rem;
$font-size-lg: 2.5rem;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-medium: 500;

//==================================
// SPACING
$spacing: 1rem;
$spacing-xs: calc($spacing / 4);
$spacing-sm: calc($spacing / 2);
$spacing-lg: calc($spacing * 1.5);

//==================================
// MISC
$radius: 0.5rem;
$radius-sm: calc($radius / 2);
$anim-duration: 300ms;
$backdrop-blur: 10px;
$ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);

//==================================
//HEADER/NAV
$header-height: 102px;
$header-padding: $spacing;
$header-color-bg-default:$color-bg;
$header-color-bg-desktop: rgba($header-color-bg-default, 0.85);
$header-blur-bg-desktop: $backdrop-blur;
$header-z-index-desktop: 100;
$header-title-font-size: 70px;
$header-title-font-weight: $font-weight-thin;
$nav-margin-default: $spacing 0 0 0;
$nav-margin-desktop: 0;
$nav-link-font-size: 20px;
$nav-link-font-weight: $font-weight-medium;
$nav-link-padding: $spacing-sm;
$nav-link-hover-color: $color-text;
$nav-link-hover-bg: rgba($color-highlight, .5);
$nav-link-active-color: $color-text;

//==================================
//MAIN
$main-padding: 0 0 $spacing 0;
$main-font-size: 1.2rem;


//==================================
//MIXINS
@mixin shadow($size: "") {
  //shadows from https://tailwindcss.com/docs/drop-shadow#adding-a-drop-shadow
  @if ($size == "sm") {
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
  }
  @if ($size == "") {
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  }
  @if ($size == "md") {
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  }
  @if ($size == "lg") {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  }
  @if ($size == "xl") {
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  }
  @if ($size == "2xl") {
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  }
  @if ($size == "none") {
    filter: drop-shadow(0 0 #0000);
  }
}
