<div *galleryImageDef="let item" class="lightbox-template" [class.no-text]="!item?.alt">
  {{ item?.alt }}
</div>

<div class="lightbox-thumbs-container" [class.lightbox-thumbs-dense]="dense">
  @for (item of itemList; track item; let i = $index) {
    <a class="lightbox-thumb" href="javascript:;" tabindex="0" [lightbox]="i" [gallery]="galleryId">
      <span class="lightbox-thumb-bg" [ngStyle]="{ 'background-image': 'url(&quot;' + item.data.thumb + '&quot;)' }"></span>
      <img [src]="item.data.thumb" [attr.alt]="item.data.alt ? item.data.alt : null" />
      @if ($any(item.data).thumbTitle) {
        <span class="lightbox-thumb-title">{{ $any(item.data).thumbTitle }}</span>
      }
    </a>
  }
</div>
