@use "../global-styles/variables" as *;
@use "../../node_modules/bootstrap/scss/mixins" as *;

header {
  //appearance
  background: $header-color-bg-default;

  //layout
  padding: $header-padding;
  position: relative;
  z-index: $header-z-index;

  //display
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint($grid-desktop-min-size) {
    //appearance
    background: $header-color-bg-desktop;
    backdrop-filter: blur($header-blur-bg-desktop);

    //layout - fixed header for desktop sizes
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    flex-direction: row;
  }
}

#title {
  //text
  font-weight: $header-title-font-weight;
  font-size: $header-title-font-size;
  color: $color-highlight;
  text-transform: uppercase;
  line-height: 1;

  //layout
  margin: 0;
}

@keyframes anim-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#navigation {
  margin: $nav-margin-default;

  > * {
    //text
    font-size: $nav-link-font-size-default;
    font-weight: $nav-link-font-weight;
    text-decoration: none;
    text-transform: uppercase;

    //layout
    padding: $nav-link-padding;

    &:hover {
      color: $nav-link-hover-color;
    }

    &.active {
      color: $nav-link-active-color;
    }
  }

  @include breakpoint($grid-desktop-min-size) {
    margin: $nav-margin-desktop;

    > * {
      font-size: $nav-link-font-size-desktop;
    }
  }

  &-active-bg {
    position: absolute;
    background-color: $nav-link-active-bg;
    border-radius: $nav-link-active-radius;
    z-index: -1;

    transition: all $anim-duration * 1.5 $ease-out-back;

    //fade this element in initially, on a delay so we don't see it flash unstyled/unpositioned on the first load
    animation: anim-fade-in $anim-duration $anim-duration * 1.5 both;
  }
}

main {
  font-size: $main-font-size;

  @include breakpoint($grid-desktop-min-size) {
    padding-top: $header-height;
  }
}
