<header #header>
  <h1 id="title">Chris Barr</h1>
  <nav id="navigation" #navContainer>
    <a routerLink="/" [class.active]="isHomePage">Home</a>
    <a routerLinkActive="active" routerLink="/dev">Dev</a>
    <a routerLinkActive="active" routerLink="/design">Design</a>
    <a routerLinkActive="active" routerLink="/photo">Photo</a>
    <a routerLinkActive="active" routerLink="/contact">Contact</a>
    <span id="navigation-active-bg" #navActiveBg></span>
  </nav>
</header>

<main role="main" [@routeAnimations]="o.isActivated && enableRouteAnimation ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>
