@use "../variables" as *;
@use "../../node_modules/bootstrap/scss/mixins" as *;

header {
  //appearance
  background: $color-bg;

  //layout
  padding: $spacing;

  //display
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-up($grid-desktop-min-size, $grid-breakpoints) {
    //appearance
    background: rgba($color-bg, 0.8);
    backdrop-filter: blur(10px);

    //layout - sticky header for desktop sizes
    position: sticky;
    top: 0;
    z-index: 100;

    flex-direction: row;
  }

  h1 {
    //text
    font-weight: $font-weight-thin;
    font-size: 70px;
    color: $color-highlight;
    text-transform: uppercase;
    line-height: 1;

    //layout
    margin: 0;
  }

  nav {
    margin-top: $spacing;

    @include media-breakpoint-up($grid-desktop-min-size, $grid-breakpoints) {
      order: -1;
      margin-top: 0;
    }

    a {
      //text
      font-size: 20px;
      font-weight: $font-weight-medium;
      text-decoration: none;
      text-transform: uppercase;

      //layout
      padding: $spacing-sm;

      &.active {
        color: $color-text;
      }
    }
  }
}

main {
  padding: 0 0 $spacing 0;
  font-size: $font-size-content;
}
