@use "../../variables" as *;

app-dev {
  app-svg-icon {
    svg {
      fill: currentColor;
      vertical-align: bottom;
      width: 24px;
      height: 24px;
    }
  }
  a {
    app-svg-icon svg {
      fill: currentColor;
    }
  }

  section {
    padding: $spacing;
    margin: $spacing;
    background-color: darken($color-bg, 5%);

    h2{
      margin-top: 0;
    }

    img {
      max-width: 100%;
    }
  }
}
