<div class="container container-lg">
  <section class="card card-intro">
    <div class="card-title no-sticky">
      <h2>Development Portfolio</h2>
    </div>
    <div class="card-content">
      <p>
        Below are some highlights from my open source projects. While these are all personal projects, I have worked on many
        proprietary or private enterprise level applications, and for obvious reasons I cannot share any of that code here.
      </p>
      <p>
        You can see all of my repositories on <a href="https://github.com/ChrisMBarr/" target="_blank">my github page</a>,
        including <a href="https://github.com/ChrisMBarr/chrisbarr.me" target="_blank">the source for this website</a>!
      </p>
    </div>
  </section>
</div>

<div class="row row-lg">
  @for (proj of projects; track proj) {
    <section class="card">
      <div class="card-title" appIsSticky>
        <h2>
          <a [routerLink]="proj.urlSlug">{{ proj.title }}</a>
        </h2>
      </div>
      <div class="card-content">
        <div class="row row-xxl">
          <div>
            <p><strong>Tech Stack:</strong> {{ proj.techStack }}</p>
            <div [innerHTML]="proj.beginDescription"></div>
            <a [routerLink]="proj.urlSlug">Read More&hellip;</a>
          </div>
          <div>
            @if (proj.gallery) {
              <a [routerLink]="proj.urlSlug">
                <img [src]="proj.gallery.images[0].data.src" [alt]="proj.gallery.images[0].data.alt" />
              </a>
            }
          </div>
        </div>
      </div>
    </section>
  }
</div>
