<ng-template #lightboxTemplate let-data="data">
  <span class="lightbox-template">{{ data?.alt }}</span>
</ng-template>

<ng-template #thumbLinksTemplate let-list="list" let-id="id">
  <div class="lightbox-thumbs-container">
    <a
      class="lightbox-thumb"
      href="javascript:return false;"
      tabindex="0"
      *ngFor="let item of list; index as i"
      [lightbox]="i"
      [gallery]="id">
      <span class="lightbox-thumb-bg" [ngStyle]="{ 'background-image': 'url(&quot;' + item.data.thumb + '&quot;)' }"></span>
      <img [src]="item.data.thumb" [alt]="item.data.alt" />
      <span class="lightbox-thumb-title">{{ $any(item.data).thumbTitle }}</span>
    </a>
  </div>
</ng-template>

<ng-container *ngIf="!projectDetails">
  <div class="row row-lg">
    <section class="card card-intro">
      <div class="card-title">
        <h2>Design Portfolio</h2>
      </div>
      <div class="card-content">
        <p>
          This page contains some of the web and other design-related projects I've worked on over the years. There are many more
          proprietary internal projects for companies that I cannot share publicly.
        </p>
        <p>
          Some of my free time is spent working on personal or open source projects, which you can find on the
          <a routerLink="/dev">dev page</a>.
        </p>
      </div>
    </section>
  </div>

  <div class="row row-lg">
    <section class="card" *ngFor="let proj of projects">
      <div class="card-title" appIsSticky>
        <h2>
          <a [routerLink]="proj.urlSlug">{{ proj.title }}</a>
        </h2>
      </div>
      <div class="card-content">
        <div class="row row-xxl">
          <div>
            <a [routerLink]="proj.urlSlug">
              <img
                [src]="proj.galleries[proj.featuredImage[0]].images[proj.featuredImage[1]].data.src"
                [alt]="proj.galleries[proj.featuredImage[0]].images[proj.featuredImage[1]].data.alt" />
            </a>
          </div>
          <div>
            <div [innerHTML]="proj.beginDescription"></div>
            <a [routerLink]="proj.urlSlug">Read More&hellip;</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</ng-container>

<ng-container *ngIf="projectDetails">
  <div class="container container-lg">
    <section class="card">
      <div class="card-title" appIsSticky>
        <a class="btn mr-3" routerLink="/design"> &larr; Back </a>
        <h2>{{ projectDetails.title }}</h2>
      </div>

      <div class="card-content">
        <div [innerHTML]="projectDetails.beginDescription"></div>
        <div [innerHTML]="projectDetails.endDescription"></div>

        <hr />

        <ng-container *ngFor="let gallery of projectDetails.galleries">
          <h3 *ngIf="gallery.title" [innerHTML]="gallery.title"></h3>
          <ng-container *ngTemplateOutlet="thumbLinksTemplate; context: { list: gallery.images, id: gallery.id }" />
        </ng-container>
      </div>
    </section>
  </div>
</ng-container>
