<div class="container container-lg">
  <section class="card card-intro">
    <div class="card-title no-sticky">
      <h2>Design Portfolio</h2>
    </div>
    <div class="card-content">
      <p>
        This page contains some of the web and other design-related projects I've worked on over the years. There are many more
        proprietary internal projects for companies that I cannot share publicly.
      </p>
      <p>
        Some of my free time is spent working on personal or open source projects, which you can find on the
        <a href="#" routerLink="/dev">dev page</a>.
      </p>
    </div>
  </section>
</div>

<div class="row row-lg">
  @for (proj of projects; track proj) {
    <section class="card">
      <div class="card-title" appIsSticky>
        <h2>
          <a [routerLink]="proj.urlSlug">{{ proj.title }}</a>
        </h2>
      </div>
      <div class="card-content">
        <div class="row row-xxl">
          <div>
            <a [routerLink]="proj.urlSlug">
              <img
                [src]="proj.galleries[proj.featuredImage[0]].images[proj.featuredImage[1]].data.src"
                [alt]="proj.galleries[proj.featuredImage[0]].images[proj.featuredImage[1]].data.alt"
              />
            </a>
          </div>
          <div>
            <div [innerHTML]="proj.beginDescription"></div>
            <a [routerLink]="proj.urlSlug">Read More&hellip;</a>
          </div>
        </div>
      </div>
    </section>
  }
</div>
