//==================================
// COLORS
$color-bg: #424153;
$color-text: #FFF;
$color-highlight: #a76253;

//==================================
// FONTS
//https://fonts.google.com/specimen/Roboto+Flex?query=roboto
$font-family: 'Roboto Flex', sans-serif;
$font-size-content: 1.2rem;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-medium: 500;


//==================================
// SPACING
$spacing: 1rem;
$spacing-sm: calc($spacing / 2);
