@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  scrollbar-width: $scrollbar-width;
  scrollbar-color: $scrollbar-color-track $scrollbar-color-thumb;
}

::selection {
  background-color: $selection-color-bg;
  color: $selection-color-text;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
  background-color: $scrollbar-color-track;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color-thumb;
  border: 2px solid $scrollbar-color-track;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-family;
  font-weight: $font-weight-light;
  overflow-y: scroll; //scrollbar always visible to prevent jump when content length changes
}

a {
  color: $color-highlight;
  $link-color-light: lighten($color-highlight, 20%);

  &:hover,
  &:focus {
    color: $link-color-light;
  }

  &:active {
    color: lighten($link-color-light, 10%);
  }

  &:focus-visible {
    outline: 2px solid $color-highlight;
    box-shadow: 0 0 5px rgba($link-color-light, 0.3), inset 0 0 5px rgba($link-color-light, 0.3);
    border-radius: $radius-sm;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: $font-weight-medium;
}

//Basic grid without using bootstrap
.row {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem;
  display: grid;
}

@media only screen and (min-width: 576px) {
  /* Screens wider than most mobile */
  .row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
