<section id="intro">
  <div class="section-container section-container-vertical" aria-label="Introduction" #introContainer>
    <img src="/assets/img/me.jpg" alt="Photo of Chris Barr" id="intro-photo-desktop" />
    <div id="intro-text">
      <h2>Hi, I'm Chris</h2>
      <img src="/assets/img/me.jpg" alt="Photo of Chris Barr" id="intro-photo-mobile" />
      <p>
        I&apos;m a full-stack web developer and designer in Charlotte, NC. I&apos;ve been in the web programming field for over 12 years. I
        primarily work with Angular and Typescript <em>(and all the standard web languages or course!)</em>
      </p>
    </div>

    <div id="social">
      <a href="https://www.linkedin.com/in/chrismbarr/" target="_blank">
        <svg role="img"><use xlink:href="#linkedin" /></svg>
        LinkedIn
      </a>
      <a href="http://github.com/FiniteLooper" target="_blank">
        <svg role="img"><use xlink:href="#github" /></svg>
        Github
      </a>
      <a href="https://stackoverflow.com/users/79677/chris-barr" target="_blank">
        <svg role="img"><use xlink:href="#stackoverflow" /></svg>
        Stack Overflow
      </a>
      <a rel="me" href="https://hachyderm.io/@FiniteLooper" target="_blank">
        <svg role="img"><use xlink:href="#mastodon" /></svg>
        Mastodon
      </a>

      <a rel="me" href="https://letterboxd.com/finitelooper/" target="_blank">
        <svg role="img"><use xlink:href="#letterboxd" /></svg>
        Letterboxd
      </a>
    </div>
  </div>
</section>

<section id="featured-work">
  <h2 class="section-title">Featured Work</h2>
  <div class="section-container section-container-horizontal">
    <div class="row">
      <ng-container [ngTemplateOutlet]="featuredProject" [ngTemplateOutletContext]="{ proj: designProjects[0] }" />
      <ng-container [ngTemplateOutlet]="featuredProject" [ngTemplateOutletContext]="{ proj: designProjects[1] }" />
    </div>
  </div>
</section>

<section id="skills">
  <h2 class="section-title">
    Skills
    <small><button type="button" class="btn-link" (click)="toggleSkillsView()" >view as {{skillsAsList ? 'icons' : 'list'}}</button></small>
  </h2>
  <div class="section-container section-container-vertical" [class.skills-list-view]="skillsAsList">
    <app-skill-group-card *ngFor="let group of skillGroups" [group]="group" [viewAsList]="skillsAsList" />
  </div>
  <footer>icons: <a href="http://icons8.com" target="_blank">icons8</a></footer>
</section>

<section id="education">
  <h2 class="section-title">Education</h2>
  <div class="section-container section-container-horizontal">
    <div class="row">
      <div class="home-column-card">
        <h3>Bachelor of Science: Digital Arts and Design</h3>
        <h4 class="home-column-card-title"><a href="https://www.fullsail.edu/" target="_blank">Full Sail</a>, 2006</h4>
      </div>
      <div class="home-column-card">
        <h3>Associate of Science: Digital Media</h3>
        <h4 class="home-column-card-title"><a href="https://www.fullsail.edu/" target="_blank">Full Sail</a>, 2005</h4>
      </div>
    </div>
  </div>
</section>

<ng-template #featuredProject let-proj="proj">
  <div class="home-column-card">
    <h3 class="home-column-card-title">{{ proj.title }}</h3>
    <a [routerLink]="['design', proj.urlSlug]">
      <img
        [src]="proj.galleries[proj.featuredImage[0]].images[proj.featuredImage[1]].data.src"
        [alt]="proj.galleries[proj.featuredImage[0]].images[proj.featuredImage[1]].data.alt" />
    </a>
  </div>
</ng-template>
