@use "../../global-styles/variables" as *;
@use "home-variables" as *;

.section-container {
  min-height: $home-section-min-height;

  &-vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &-horizontal {
    margin: 0 $spacer;

    @include breakpoint(xl) {
      max-width: breakpoint-size(xl);
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include breakpoint($grid-desktop-min-size) {
    //each section can be as tall as the screen, but never more than 1000px
    max-height: 1000px;
  }
}

.section-title {
  position: relative; //above the grain texture
  margin: 0 $spacer $spacer $spacer;
  font-weight: $font-weight-thin;
  text-shadow: shadow("lg");

  @include breakpoint(lg) {
    font-size: $font-size-lg;
  }

  @include breakpoint(xl) {
    max-width: breakpoint-size(xl);
    margin-left: auto;
    margin-right: auto;
  }
}

.home-column-card {
  z-index: 1; //above the grain texture
  padding: $home-card-padding;
  background: $home-card-bg;
  backdrop-filter: blur($home-card-bg-blur);
  border-radius: $home-card-radius;
  color: $home-card-color;

  & + & {
    //vertically stacked
    margin-top: $home-card-padding;

    @include breakpoint($grid-desktop-min-size) {
      //side-by-side
      margin-top: 0;
    }
  }

  &-title {
    margin: $home-card-title-margin;
  }

  a {
    color: $home-card-link-color;
  }
}

#intro {
  @keyframes anim-intro-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }

  @keyframes anim-arrow-bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  --anim-intro-size: 150vw;
  $img-size: 300px;
  $container-width-desktop: calc(breakpoint-size($grid-desktop-min-size) - ($spacer * 2));

  overflow: hidden;
  position: relative;

  @media screen and (min-height: 100vw) {
    //when the screen is taller than it is wide
    --anim-intro-size: 150vh;
  }

  &::before {
    //This is the spinning gradient animation
    content: "";
    height: var(--anim-intro-size);
    width: var(--anim-intro-size);
    background-image: linear-gradient($color-bg 50%, rgba($color-highlight, 0.4));
    animation: anim-intro-rotate 20s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: calc((var(--anim-intro-size) / 2) * -1) 0 0 calc((var(--anim-intro-size) / 2) * -1);
    z-index: -1;
  }

  .section-container {
    padding: $spacer;

    position: relative;
    z-index: 1;

    &::before {
      //This is the bouncing arrow
      content: "🡓";
      font-size: 35px;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      pointer-events: none;

      opacity: 0;
      transition: opacity $anim-duration;
    }

    &.show-arrow {
      &::before {
        opacity: 1;
        animation: anim-arrow-bounce 2s infinite;
      }
    }
  }

  img {
    border-radius: 100%;
    border: 2px solid $color-highlight;
    max-height: $img-size;
    max-width: $img-size;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
  }

  #greeting-desktop {
    display: none;
  }

  @include breakpoint($grid-desktop-min-size) {
    .section-container {
      flex-direction: row;
      width: $container-width-desktop;
      margin: 0 auto;

      @media screen and (min-height: $home-section-min-height) {
        // only set this when at a desktop width AND the height is over the min-height set
        height: calc(100vh - $header-height);
      }
    }

    #greeting-mobile {
      display: none;
    }

    #greeting-desktop {
      display: block;
    }

    img {
      margin-right: $spacer;
    }
  }
}

#featured-work,
#skills,
#education {
  background-position-x: center; //position-y will be handled by parallax directive
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  padding: $spacer 0;

  @include breakpoint(lg) {
    background-size: cover;
  }
}

#featured-work {
  background-image: url("../../../src/assets/img/contact-bg.jpg");

  .home-column-card {
    //make them look clickable
    cursor: pointer;

    img {
      max-width: 100%;
      border-radius: $radius-sm;
      transition: $anim-duration transform $ease-out-back;
    }

    &:focus,
    &:focus-within,
    &:hover {
      img {
        transform: scale(1.02);
        @include drop-shadow("lg");
      }
    }
  }
}

#skills {
  background-image: url("../../../src/assets/img/skills-bg.jpg");

  .section-container {
    gap: $spacer;
  }

  footer {
    text-align: right;
    padding: 0 $spacer-sm;
    font-size: $font-size-xs;
    opacity: 0.5;
    transition: $anim-duration opacity;

    &:hover {
      opacity: 1;
    }
  }
}

#education {
  background-image: url("../../../src/assets/img/education-bg.jpg");

  .section-container {
    min-height: 250px;
  }
}
