<section id="intro">
  <div class="section-container section-container-flex" aria-label="Introduction" #introContainer>
    <h2 id="greeting-mobile">Hi, I'm Chris</h2>
    <img src="/assets/img/me.jpg" alt="Photo of Chris Barr" />
    <div>
      <h2 id="greeting-desktop">Hi, I'm Chris</h2>
      <p>
        I&apos;m a web developer and designer in Charlotte, NC. I&apos;ve been in the web programming field for over 12 years. I
        primarily work with Angular and Typescript, along with all the standard web languages.
      </p>
    </div>
  </div>
</section>

<section id="featured-work" appParallaxScroll>
  <h2 class="section-title">Featured Work</h2>
  <div class="section-container">
    <div class="row">
      <ng-container [ngTemplateOutlet]="featuredProject" [ngTemplateOutletContext]="{ proj: designProjects[0] }" />
      <ng-container [ngTemplateOutlet]="featuredProject" [ngTemplateOutletContext]="{ proj: designProjects[1] }" />
    </div>
  </div>
</section>

<section id="skills" appParallaxScroll>
  <h2 class="section-title">Skills</h2>
  <div class="section-container section-container-flex">
    <app-skill-group-card *ngFor="let group of skillGroups" [group]="group" />
  </div>
  <footer>icons: <a href="http://icons8.com" target="_blank">icons8</a></footer>
</section>

<ng-template #featuredProject let-proj="proj">
  <div class="feature" [routerLink]="['design', proj.urlSlug]">
    <h3 class="feature-title">{{ proj.title }}</h3>
    <img
      [src]="proj.galleries[proj.featuredImage[0]].images[proj.featuredImage[1]].data.src"
      [alt]="proj.galleries[proj.featuredImage[0]].images[proj.featuredImage[1]].data.alt" />
  </div>
</ng-template>
